.env
# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*PeopleTracking_1.0.0_x64_en-US.msi
.env
dist/
build/

# Docker
**/docker-compose.override.yml
docker/**/*.env
docker/**/node_modules/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Python (por si hay tracking en Python)
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/

tracker/venv/

.venv/

desktop/src-tauri/binaries/fastapi_server-x86_64-pc-windows-msvc.exe

desktop/src-tauri/target/release/bundle/msi/PeopleTracking_1.0.0_x64_en-US.msi
